.hero {
  width: $maxL;
  height: 120vh;
  background-image: url(../../img/herobg.jpg);
  @include sfondo;

  .container-title {
    width: 40%;
    height: 100%;
    margin-left: $ml-100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $text1;

    & img {
      width: 70px;
    }

    h1 {
      font-size: $fontbig;
    }

    h3 {
      font-size: $fontmed;
    }

    .buttons button:nth-child(1) {
      @include bt-trasp;
    }

    .buttons button:nth-child(2) {
      @include bt-blue-300;
      margin-left: 20px;
    }
  }
}
